global
    nbthread 1
    log stdout format raw local0
    lua-load /home/ubuntu/transparent-offload/transparent-runtime/apps/haproxy_accel/accel.lua
defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
frontend f
    bind 127.0.0.1:7810
    http-request use-service lua.accel
